<a href="https://colab.research.google.com/github/Ashitha-K/Assignment/blob/main/Practice_problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1
'''
input_string = "assembly"

char_count = {}
for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char, count in char_count.items():
    print(f'{char}={count}', end=', ')
print()

a=1, s=2, e=1, m=1, b=1, l=1, y=1,

In [ ]:
'''
Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34
'''
def maximum(a, b, c):
    return max(a, b, c)

#input
num1=34
num2=12
num3=7
result =maximum(num1, num2, num3)

#output
print(result)

34

In [ ]:
'''
Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8
'''
def exponent(base,exp):
  return base**exp
#base = float(input("Enter the base"))
#exp = int(input("Enter the exponent"))
output=exponent(2,3)
print(output)

8

In [ ]:
'''
Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.
'''
def cube(n):
    sum = 0
    for i in range(1, n):
        sum+= i ** 3
    return sum
print(cube(4))

36

In [ ]:
'''
Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz
'''
for i in range(1,11):
    if i%2==0 and i%5==0:
      print("FizzBuzz",end=' ')
    elif i%2==0:
      print("Fizz",end=' ')
    elif i%5==0:
      print("Buzz",end=' ')
    else:
      print(i,end=' ')

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [7]:
'''
 Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2
'''
list = [2, 1, 2, 2, 1, 3]
count=0
temp=0
index=0
length=len(list)
#print(length)
for n in range(0,length):
  temp=list.count(list[n])
  if(temp>count):
    count=temp
    index=n
number=list[index]
print(number)

2

In [ ]:
'''
7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15
'''
l1=[2,1,3,1]
sum=0
for i in l1:
  sum+=i**2
print(sum)

15

In [ ]:
'''
Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd
'''
for i in range(1,16):
  if i%2==0:
    print(i, "- even",end=' ')
  else:
    print(i, "- odd",end=' ')

1 - odd 2 - even 3 - odd 4 - even 5 - odd 6 - even 7 - odd 8 - even 9 - odd 10 - even 11 - odd 12 - even 13 - odd 14 - even 15 - odd

In [ ]:
'''
9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5
'''
f=float(input("Enter the Temperature in Fahrenheit "))
c=(f-32)*5/9
print("Temperature in Celsius =",c)

Enter the Temperature in Fahrenheit 41
Temperature in Celsius = 5.0

In [ ]:
'''
10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6
'''
def factorial(num):
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  return fact
print(factorial(3))

6