<a href="https://colab.research.google.com/github/Ashitha-K/Assignment/blob/main/Practice_problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Practice problem 1

In [ ]:
'''
1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999
'''
radius = float(input("Enter the radius: "))
pi=3.14159
area =pi * radius ** 2
print(f"Area of the circle with radius {radius} ={area:.2f}")

Enter the radius: 3
Area of the circle with radius 3.0 =28.27

In [ ]:
'''
2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78
'''

Name=input("Enter the name ")
print("Name ", Name)
Roll_no=input("Enter the roll number ")
print("Roll No ", Roll_no)
Mark=input("Enter the mark ")
print("Mark ",Mark)

Enter the name Anisha
Name  Anisha
Enter the roll number 21
Roll No  21
Enter the mark 78
Mark  78

In [ ]:
'''
3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.
'''

l1=[12, 3, 47, 10]
Largest_number=max(l1)
print(Largest_number, "is the largest number")

47 is the largest number

In [ ]:
'''
4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19
'''

sum=0
for i in range(1,11):
  #previous_number=i-1
  sum=i+i-1
  print("current number=",i)
  print("Previous number=",i-1)
  print("sum=",sum)

current number= 1
Previous number= 0
sum= 1
current number= 2
Previous number= 1
sum= 3
current number= 3
Previous number= 2
sum= 5
current number= 4
Previous number= 3
sum= 7
current number= 5
Previous number= 4
sum= 9
current number= 6
Previous number= 5
sum= 11
current number= 7
Previous number= 6
sum= 13
current number= 8
Previous number= 7
sum= 15
current number= 9
Previous number= 8
sum= 17
current number= 10
Previous number= 9
sum= 19

In [ ]:
'''
Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55
'''

l1=[10, 20,33,46,55]
l2=[]
for i in l1:
  if(i%5==0):
    #print("Number is divisible by 5")
    l2.append(i)
print(l2)

[10, 20, 55]

In [ ]:
'''
6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.
'''

n=int(input("enter the number "))
if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,"not a prime numer")
      break
  else:
    print(n,"is prime number")
else:
  print(n,"is not a prime number")

enter the number 3
3 is prime number

In [1]:
'''
7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10
'''

l1=[10,40,30,70 ]
l2=[]
while len(l1)>0:
  l=l1.pop()
  l2.append(l)
print(l2)

[70, 30, 40, 10]

In [ ]:
'''
8. Write a Python program to print the following pattern.
*
**
***
****
'''
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print("*", end="")
    print()  # Move to the next line after each row

*
**
***
****

In [ ]:
'''
9. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*
'''

n = 5
for i in range(1, n + 1):
    for j in range(i):
        print("*", end="")
    print()
for i in range(n - 1, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [ ]:
'''
10. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34
'''

a=int((input("Enter the first number ")))
b=int((input("Enter the second number ")))
c=int((input("Enter the third number ")))
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

Enter the first number 34
Enter the second number 12
Enter the third number 7
34